* { border: 1px solid #f00; }
.Wrap { } 

.container { display: flex; width: 1200px; margin: 0 auto; } 
.inner { width: 1200px; margin: 0 auto; } 

header { position: relative; } 
header .logo { background: #da291c; padding: 30px 0 60px 0; width: 100%; } 
header .logo h2 { width: 200px; margin: 0 auto; } 

header .gnb { position: absolute; inset: 150px auto auto 50%; transform: translate(-50%, -50%); justify-content: center; line-height: 80px; background: #fff; border-radius: 10px; box-shadow: 0 0 3px #999; z-index: 999; } 

header .gnb.on { position: fixed; inset: 0 auto auto 50%; transform: translateX(-50%); background: #da291c; color: #fff; border-radius: 0 0 10px 10px; } 

header .gnb .left>li { position: relative; padding: 0 35px; } 
header .left { display: flex; text-align: center; } 
header .right { display: flex; gap: 20px; padding: 0 0 0 70px; } 
header .smenu { line-height: 1.5; font-size: 12px; background: #fff; }
/* header .smenu::after { position: absolute; inset: 20px auto auto 50%; transform: translateX(-50%); content: ""; display: block; background: #fff; width: 100%; height: 100%;}  */


header .right i { font-size: 21px; vertical-align: middle; } 

.mainVisual .video { height: calc(100vh - 140px); } 

.mainSlider { padding: 100px 0; } 
.mainSlider h2 { text-align: center; font-family: 'Poiret One', cursive; font-size: 40px; } 
.mainSlider h2::after {content: ""; display: block; width: 100px; height: 1px; background: #da291c; margin: 20px auto;}
.mainSlider p { margin: 0 0 30px 0; text-align: center; font-weight: 300; } 

.slider { margin: 0 0 50px 0; } 
.slider figure { padding: 0 15px; } 


.fixedBg .pastel { background: url(../img/main_supporters.jpg) no-repeat center center/cover; } 
.fixedBg .hand { background: url(../img/brand_img10.jpg) no-repeat center center/cover; } 
.fixedBg .color { background: url(../img/brand_img07.jpg) no-repeat center top/cover; } 

.fixedBg .fixed { position: relative; padding: 100px 0; background-attachment: fixed; }
.fixedBg .fixed::before{position: absolute; inset: 0 auto auto 0; content: ""; display: block; width: 100%; height:100%; background: rgba(0, 0, 0, 0.2);} 

.fixedBg p { color: #fff; font-size: 23px; } 
.fixedBg .hand p { text-align: right; } 


.product { padding: 100px 0; } 