/* * { border: 1px solid #f00; } */

.Wrap { } 

.header { box-shadow: 0 0 3px rgb(194, 194, 194); background: rgb(255, 255, 255,0.8); width: 100%; } 
.header.on { position: fixed; inset: 0 auto auto 50%; transform: translateX(-50%); z-index: 999; margin-top: -100px; backdrop-filter: blur(10px); } 
.inner { width: 1200px; margin: 0 auto; } 
.container { display: flex; width: 1200px; margin: 0 auto; } 
.header .inner { vertical-align: middle; } 
.header { line-height: 100px; } 

.gnb>ul { display: flex; font-weight: 300; text-transform: uppercase; } 

.header .gnb { display: flex; justify-content: space-between; } 
.header .gnb>* { flex: 1; } 

.header .gnb .left { gap:50px; text-align: start; } 

.bMenu { display: none; line-height: 1; padding: 0 0 50px 0; } 
.bMenu>li { padding: 5px 0; font-size: 12px; color: #999; } 
.gnb>ul>li:hover .line { text-decoration: underline; text-underline-position:under; } 


.header h1 { text-align: center; font-size: 0; } 
 /* img가 inline-block 속성이라 로고가 위쪽으로 2px뜨는 것을 막아줌! */
.header .right { justify-content: flex-end; gap: 50px; } 
.header .right i { font-size: 30px; vertical-align: middle; } 
.mainVisual { height: calc(100vh - 100px); overflow: hidden; } 

.brandStory { position: relative; padding: 150px 0 150px 0; overflow: hidden; } 
.brandStory::before { position: absolute; inset: 400px auto auto 0; content: ""; display: block; height: 900px; width:81.58%;; background: #194455; z-index: -999; } 
.brandStory .journeyVisual { position: absolute; inset: 100px 0 auto auto; vertical-align: right; z-index: -1; } 

.brandStory .containment { padding: 10px 0 150px 0; border-left: 3px solid #d9e1e3; } 
.brandStory .inner { position: relative; } 
.brandStory .containment h2 { font-size: 60px; margin: 0 0 30px 0; padding: 0 0 0 40px; } 
.brandStory .containment p { font-weight: 300; padding: 0 0 0 40px; } 

.brandStory .left { position: relative; width: 600px; height: 700px;; opacity: 0.1; backdrop-filter: blur(10px); } 
.brandStory .left::before { position: absolute; inset: 0 auto auto 0; content: ""; display: block; width: 600px; height: 700px; opacity: 0.8; backdrop-filter: blur(70px); z-index: -10; } 
.brandStory .left::after { position: absolute; inset: 0 auto auto 0; content: ""; display: block; width: 600px; height: 700px; background: #d9e1e3; opacity: 0.5; z-index: -10; } 


.brandStory .container { padding: 400px 0 0 0; text-align: left; } 
.brandStory .left img { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); width: 500px; z-index: 999; } 

.brandStory .right h2 { padding: 30px 0 0 40px; margin: 0 0 30px 0; font-size: 60px; color: #fff; } 
.brandStory .right p { padding: 0 0 0 40px; font-weight: 100; color: #fff; } 

.brandTitle { padding: 0 0 100px 0; } 
.brandTitle .container { gap: 100px; justify-content: flex-end } 
.brandTitle .left { text-align: right; padding: 40px 0 0 0; } 
.brandTitle .left h2 { font-family:'Noto Sans KR'; font-size: 36px; padding: 0 40px 50px 0; border-right:3px solid #2a5c62; line-height: 1.25; margin: 0 0 40px 0; } 

.brandTitle .left .top { margin: 0 0 20px 0; } 
.brandTitle .left p { padding: 0 40px 0 0; font-weight: 300; } 
.brandTitle .left .bottom { margin: 0 0 150px 0; } 
.brandTitle .left i { padding: 3px; font-size: 27px; vertical-align: middle; animation: bottom 0.8s linear infinite; color: #ddd; } 
.brandTitle .left strong { padding: 0 40px 0 0; font-size: 17px; font-weight: 400; color: #c5c5c5; text-decoration: underline; text-underline-position:under; } 


.brandTitle .right { width: 600px; } 

.product { padding: 0 0 200px 0; } 
.product .slider { width: 81.58%; } 

.product .slider img { margin : 0 0 30px 0; } 

.product .slider .pExlplain { border-left: 3px solid #2a5c62; } 
.product .slider h2 { padding: 0 0 0 25px; margin: 0 0 10px 0; font-family:'Noto Sans KR'; font-size: 18px; font-weight: 500; } 
.product .slider p { padding: 0 0 0 25px; font-weight: 300; font-family: 'Noto Sans KR', sans-serif; } 

.product .pSlider figure { padding: 0 0 0 30px; } 

.waterBall .inner { position: relative; overflow: hidden; height: 850px; } 
.waterBall h2 { position: absolute; inset: 0 auto auto 0; font-size: 60px; backdrop-filter: blur(10px); } 
.waterBall .mainVideo { position: absolute; inset: 0 -280px auto auto; } 

.footer { border-top: 1px solid #e6e6e6; } 
.footer .inner { padding: 50px 0; font-size: 14px; font-weight: 300; color: #666; } 
.footer .container { justify-content: space-between; } 
.footer .container h2 { width: 100px; font-size: 0; } 
.footer .fMenu { display: flex; } 
.footer dl>dd~dd::before { content: ''; display: inline-block; width: 1px; height: 11px; margin: 0 10px; background: #999; } 
.footer p { text-align: right; font-size: 12px; } 