.Wrap { } 

.header { box-shadow: 0 0 3px #666; } 
.header.on { position: fixed; inset: 0 auto auto 0; background: #fff; width: 100vw; z-index: 999; box-shadow: 0 0 3px #666; margin-top:-100px; transition: top 1s; } 
.inner { width: 1200px; margin: 0 auto; } 
.container { display: flex; width: 1200px; margin: 0 auto; } 
.header .inner { text-align: center; vertical-align: middle; } 
.header { line-height: 100px; } 
.gnb ul { display: flex; gap: 40px; font-weight: 300; text-transform: uppercase; } 

.header .gnb { display: flex; justify-content: space-between; } 
.header .gnb>* { flex: 1; } 
.header h1 { text-align: center; } 
.header .right { justify-content: flex-end; } 
.header .right i { font-size: 30px; vertical-align: middle; } 
.mainVisual { height: 100vh; overflow: hidden; } 

.brandStory { position: relative; padding: 150px 0 100px 0; overflow: hidden; } 
.brandStory::before { position: absolute; inset: 400px auto auto 0; content: ""; display: block; height: 900px; width: 1550px; background: #194455; z-index: -999; } 
.brandStory .journeyVisual { position: absolute; inset: 100px 0 auto auto; vertical-align: right; z-index: -1; } 

.brandStory .containment { padding: 10px 0 150px 0; border-left: 3px solid #d9e1e3; } 
.brandStory .inner { position: relative; } 
.brandStory .journey h2 { font-size: 60px; margin: 0 0 30px 0; padding: 0 0 0 40px; } 
.brandStory .journey p { font-weight: 300; padding: 0 0 0 40px; } 

.brandStory .left { position: relative; } 
.brandStory .left::before { position: absolute; inset: 0 auto auto 0; content: ""; display: block; width: 600px; height: 700px; opacity: 0.8; backdrop-filter: blur(70px); z-index: -10; } 
.brandStory .left::after { position: absolute; inset: 0 auto auto 0; content: ""; display: block; width: 600px; height: 700px; background: #d9e1e3; opacity: 0.3; z-index: -10; } 


.brandStory .container { padding: 400px 0; text-align: left; } 
.brandStory .left img { width: 500px; z-index: 999; } 

.brandStory .right h2 { padding: 30px 0 0 40px; margin: 0 0 30px 0; font-size: 60px; color: #fff; } 
.brandStory .right p { padding: 0 0 0 40px; font-weight: 100; color: #fff; } 

.brandTitle { padding: 0 0 100px 0; } 
.brandTitle .container { gap: 100px; justify-content: flex-end } 
.brandTitle .left { text-align: right; padding: 40px 0 0 0; } 
.brandTitle .left h2 { font-family:'Noto Sans KR'; font-size: 36px; padding: 0 40px 50px 0; border-right:3px solid #2a5c62; line-height: 1.25; margin: 0 0 40px 0; } 

.brandTitle .left .top { margin: 0 0 20px 0; } 
.brandTitle .left p { padding: 0 40px 0 0; font-weight: 300; } 
.brandTitle .left .bottom { margin: 0 0 150px 0; } 
.brandTitle .left i { padding: 3px; font-size: 27px; vertical-align: middle; animation: bottom 0.8s linear infinite; color: #ddd; } 
.brandTitle .left strong { padding: 0 40px 0 0; font-size: 17px; color: #999; text-decoration: underline; text-underline-position:under; } 

@keyframes bottom { 
 0% { transform: translateY(-5px); } 
 100% { transform: translateY(3px); } 
 }

.brandTitle .right { width: 600px; } 

.product { padding: 0 0 100px 0; } 
.product .slider { width: 81.58%; } 

.product .slider img { margin : 0 0 30px 0; } 

.product .slider .pExlplain { border-left: 3px solid #2a5c62; } 
.product .slider h2 { padding: 0 0 0 25px; margin: 0 0 10px 0; font-family:'Noto Sans KR'; font-size: 18px; font-weight: 500; } 
.product .slider p { padding: 0 0 0 25px; font-weight: 300; } 

.product .pSlider figure { padding: 0 0 0 30px; } 