.Wrap {}

.header .container {
    position: absolute;
    inset: 0 auto auto 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    color: #fff;
    z-index: 999;
    align-items: center;

}

.header .container nav>ul {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 300;

}

.header .container .searchForm {
    display: flex;
    align-items: center;
}

.header .searchForm input[type='text'] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    color: #fff;

}

.header .searchForm .globus {
    font-size: 18px;
    padding: 0 20px;
}

.header .searchForm input[type='text']::placeholder {
    font-size: 0;
}

.header .searchForm input[type='text']:focus::placeholder {
    opacity: 0;
}

.header .searchForm button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding: 0 0 0 10px;
}

.header .container h1 img {
    width: 180px;
}

.mainVisual {
    background: url(../img/mainVisual.jpg) no-repeat center center/cover;
    text-align: right;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mainVisual .mainTitle {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.mainVisual .mainTitle .container {
    position: absolute;
    inset: 250px 0 auto auto;
}

.mainVisual i {
    position: absolute;
    color: #fff;
    font-size: 40px;
    inset: auto auto 5% 50%;
    transform: translateX(-50%);
}

.mainVisual .container h2 {
    margin: 0 0 10px 0;
    font-size: 42px;
    font-weight: 700;
}

.mainVisual .container p {
    font-size: 30px;
    font-weight: 300;
}

.slogan {
    position: relative;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

.slogan .sloganP {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.slogan h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.slogan p {
    line-height: 1.2;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 35px 0;
}

.slogan .slick-list {
    width: 100%;
}

.slogan .slide figure {
    width: 1200px;
    height: 500px;
    margin: 0 15px;
    filter: grayscale(0.5) brightness(0.3) contrast(0.5);
}

.slogan .slide figure.slick-current {
    filter: grayscale(0) brightness(0.5);
}

.slogan .itm01 {
    background: url(../img/slide01.jpg) no-repeat center center/cover;
}

.slogan .itm02 {
    background: url(../img/slide02.jpg) no-repeat center center/cover;
}

.slogan .itm03 {
    background: url(../img/slide03.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
    position: relative;
}

.slogan .slick-arrow {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    font-size: 0;
    padding: 35px 55px;
    border-radius: 7px;
}

.slogan .slideArrows i {
    position: absolute;
    display: flex;
    inset: calc(50% - 25px) auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 5px;
}

.slogan .slideArrows i:nth-child(1) {
    margin: 0 0 0 calc(-600px + 60px);
}

.slogan .slideArrows i:nth-child(2) {
    margin: 0 0 0 calc(600px - 60px);
}

.slogan .slide .slick-dots {
    margin: 30px 0 0 0;
}

.slogan .slide .slick-dots li {
    display: inline-block;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    background: #ddd;
    cursor: pointer;
}

.slogan .slide .slick-dots li::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #444;
    opacity: 0;
}

.slogan .slide .slick-dots li.slick-active::after {
    opacity: 1;
    transition: 3s;
}

.slogan .slide .slick-dots button {
    display: none;
}

.business {
    padding: 0 0 100px 0;
}

.business .container {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

.business .top {
    margin: 0 auto 30px auto;
}


.business .container .const {
    flex: 1;
    padding: 50px 0;
    width: 380px;
    color: #333;
}

.business .container .const:nth-child(1) {
    border: 1px solid #01a251;
    border-radius: 50px;
}

.business .container .const:nth-child(2) {
    border: 1px solid #01a251;
    border-radius: 50px
}

.business .container .const:nth-child(3) {
    border: 1px solid #01a251;
    border-radius: 50px
}

.business .const h3 {
    color: #01a251;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.business .const p {
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.business .const img {
    width: 80px;
    margin: 0 auto 40px auto;
}

.business .const a {
    display: block;
    line-height: 1.7;
    font-weight: 300;
}

.bridge {
    position: relative;
    background: url(../img/bridge01.jpg) no-repeat center center/cover;
    height: 800px;
}

.bridge .container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    color: #fff;
}

.bridge .container .inner {
    position: absolute;
    inset: 120px auto auto 0;
}

.bridge .container p {
    line-height: 1.2;
    margin: 0 0 10px 0;
    font-size: 35px;
}

.bridge .container strong {
    line-height: 1.2;
    font-size: 15px;
    font-weight: 300;
}

.bridge .container .link {
    position: absolute;
    inset: 650px auto auto 50%;
    transform: translateX(-50%);
    width: 1200px;
    font-size: 16px;
}

.bridge .container .link ul {
    display: flex;
    gap: 55px;
}

.bridge .container a {
    border: 1px solid #f9f9f9;
    padding: 15px 60px 20px 60px;

}

.bridge .container a::after {
    content: "\e93f";
    vertical-align: middle;
    font-family: xeicon;
    margin: 0 10px;
}

.news {
    padding: 100px 0;
}

.news h2 {
    padding: 0 0 0 15px;
    margin: 0 0 30px 0;
    font-size: 27px;
    font-weight: 500;
}

.news a {
    padding: 0 15px 0 0;
}

.news .container {
    position: relative;
    width: 1230px;
    margin: 0 auto;
}

.news .title {
    display: flex;
    justify-content: space-between;
}

.news .title a {
    color: #999999;
    vertical-align: middle;
}

.news .title i {
    color: #057c2d;
    vertical-align: middle;
}

.news .container figure {
    padding: 0 15px;
}

.news .container img {
    margin: 0 0 25px 0;
}

.news .container .arrows i {
    position: absolute;
    inset: 45% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #9f9f9f;
    font-size: 72px;
}

.news .arrows i:nth-child(1) {
    margin: auto auto auto -650px;
}

.news .arrows i:nth-child(2) {
    margin: auto auto auto 650px;
}

.news .slider h3 {
    color: #9f9f9f;
    margin: 0 0 15px 0;
    font-size: 14px;
}

.news .slider p {
    line-height: 1;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.news .slider strong {
    display: block;
    padding: 0 0 30px 0;
    line-height: 1;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 3px solid #ddd;
}

.social {
    position: relative;
    padding: 0 0 100px 0;
    text-align: center;
}


.social .title {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social .title h2 {
    font-size: 27px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.social .title a {
    color: #999999;
    vertical-align: middle;
}

.social .title i {
    color: #057c2d;
    vertical-align: middle;
}

.social .socialSlider {
    margin: 0 auto;

}

.social .socialSlider figure {
    padding: 0 15px;
    margin: 0 0 50px 0;
}

.social .socialSlider img {
    margin: 0 0 20px 0;
    filter: grayscale(1)contrast(0.8);
}

.social .socialSlider figure.slick-active img {
    filter: grayscale(0)contrast(1);
}

.social .socialSlider p {
    display: none;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    text-align: left;
}

.social .socialSlider figure.slick-active p {
    display: block;
}

.social .socialSlider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social .socialSlider .slick-dots li {
    outline: none;
    background: #ddd;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.social .socialSlider .slick-dots li.slick-active {
    background: #01a251;
    width: 15px;
    height: 15px;
}

.social .socialSlider .slick-dots li button {
    display: none;
}

.social .arrows i {
    position: absolute;
    font-size: 19px;
    inset: auto auto 89px calc(50% - 10px);
    transform: translateY(-50%);
    color: #666;
    z-index: 999;
}

.social .arrows i:nth-child(1) {
    margin: auto auto auto -90px;
}

.social .arrows i:nth-child(2) {
    margin: auto auto auto 90px;
}

.toTop {
    display: none;
    position: fixed;
    inset: auto 50px 50px auto;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.footer .inner {
    padding: 15px 0 50px 0;
    background: #333;
    color: #fff;
    vertical-align: middle;

}

.footer .container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    gap: 65px;
    justify-content: space-between;
}

.footer .container h2 {
    width: 150px;
}

.footer .container .topMenu {
    display: flex;
}

.footer .container dl {
    padding: 0 0 0 75px;
}

.footer .container dd {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
}

.footer .container dl>dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 10px;
    background: #f9f9f9;
}

.footer .middle address {
    font-style: inherit;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.footer .bottom {
    font-size: 12px;
    font-weight: 300;
}

.footer .top select {
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    color: #fff;
    padding: 3px 15px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.footer .top .icon ul {
    display: flex;
    justify-content: space-between;
}

.footer .top .icon a {
    font-size: 24px;
}

.footer .top #fl option {
    color: #333;
}

.footer .top .familyContainer {
    margin: 0 0 10px 0;
}